.section-main__form {
    padding: 4rem 5rem;
}

.form {
    padding: 1rem;
    display: flex;
    flex-direction: column;

    &__section {
        background-color: $color-input-background;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        padding: .5rem;
        

        &:not(:nth-child(6))::after {

        }

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

    }

    &__label {

        & > img {
            width: 3rem;
            height: auto;
        }
    }

    &__input {
        padding: 1rem 0.5rem 1rem 1.75rem;
        font-family: inherit;
        font-size: $default-font-size;
        border: none;
        background-color: transparent;

        &:focus {
            outline: none;
        }
    }

    &__link {
        color: $color-gray-dark
    }
}

.form-divider {


    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba($color: $color-gray-dark, $alpha: .9);
        gap: 2rem;
        
        &::before, &::after {
            content: "";
            display: inline-block;
            width: 10rem;
            height: .2rem;
            background-color: rgba($color: $color-gray-dark, $alpha: .2);
        }
    }
}

.valid {
    border: 3px solid green;

    &::after {
        content: "✔";
        color: green;
        font-size: 2rem;
    }
}



.invalid {
    border: 3px solid red;

    &::after {
        content: "✖";
        color: red;
        font-size: 2rem;
    }
}