.header {
    height: 20vh;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 10rem;
    display: flex;
    
    // margin-bottom: 10rem;

    &__log0 {
        width: auto;
        flex: 1;
    }

    &__list {
        flex: 4;
        background-color: white;
        width: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 4rem;
        font-weight: 500;

        & > a {
            text-decoration: none;
            color: $color-gray-dark;
        }
    }

    &__item {

        &--hover:hover {
            border-bottom: 3px solid $color-primary;
        }

        &--log-in {
            border-bottom: 3px solid $color-primary;
            
            &:hover {
                transform: translateY(-2px);
            }
        }

        &--special {
            width: 2rem;

            &:hover {
                cursor: pointer;
            }
            
        }
    }
}

