*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  family: Open Sans, Helvetica Neue, Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #777; }

.header__list {
  font-size: 1.6rem;
  color: #444;
  list-style-type: none; }

.header__item--get-started {
  color: white; }

.heading-primary {
  font-size: 6rem; }
  .heading-primary--main {
    color: white;
    font-size: 3rem;
    font-weight: 600; }
  .heading-primary--sub {
    color: white;
    font-size: 1.6rem; }

.heading-secondary {
  font-size: 4rem; }

.heading-tertiary {
  font-size: 2rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.btn--special {
  background-color: #267bbc;
  padding: 1rem;
  border-radius: 5px;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  border: none; }
  .btn--special:hover {
    cursor: pointer; }

.logo-box {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center; }
  .logo-box__img {
    width: 15rem; }
  .logo-box__header {
    font-family: 'Orbitron', sans-serif, monospace;
    font-size: 2rem;
    color: #777;
    font-weight: 700; }

.sign-up-option {
  width: 100%;
  height: 5rem;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: .5rem;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .sign-up-option:hover {
    cursor: pointer; }
  .sign-up-option:not(:last-child) {
    margin-bottom: 2rem; }
  .sign-up-option--github {
    background-color: RGBA(17 24 39);
    position: relative; }
    .sign-up-option--github:hover {
      background-color: RGBA(17, 24, 39, 0.8); }
    .sign-up-option--github::before {
      content: url("/img/icons8-github-96.png");
      transform: scale(0.2);
      position: absolute;
      left: 10rem; }
  .sign-up-option--google {
    position: relative;
    background-color: RGB(59 130 246); }
    .sign-up-option--google:hover {
      background-color: RGB(37, 99, 235); }
    .sign-up-option--google::before {
      content: url("/img/icons8-google-96.png");
      transform: scale(0.2);
      position: absolute;
      left: 10rem; }

.footer {
  background-color: white;
  height: 50vh;
  display: flex;
  flex-direction: column;
  padding: 4rem 9rem; }
  .footer__container {
    display: flex;
    display: flex;
    justify-content: space-between; }
  .footer__social-media {
    width: 30%;
    display: flex;
    flex-direction: column; }
    .footer__social-media h3 {
      text-align: left;
      font-size: 1.6rem;
      font-weight: 300;
      padding-left: 1rem;
      width: 30rem; }
  .footer__logo {
    width: 100%;
    display: flex;
    justify-content: left; }
  .footer__imgs {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    gap: 4rem; }
    .footer__imgs img {
      width: 5rem; }
  .footer__start-learning {
    width: MIN(50%, 47rem);
    height: 100%;
    background-color: #f3f4f6;
    padding: 4rem 4rem 0 4rem;
    border-radius: 10px; }
    .footer__start-learning h2 {
      color: black;
      font-size: 2.5rem; }
    .footer__start-learning div.input {
      display: inline-block;
      outline: 1px solid rgba(0, 0, 0, 0.2);
      padding: 3.5px;
      padding-left: 15px;
      background-color: #fff;
      border-radius: 5px; }
      .footer__start-learning div.input #email {
        height: 4.5rem;
        width: 25rem;
        border: none;
        font-size: 1.6rem; }

.footer__info {
  display: flex;
  gap: 5rem;
  padding-bottom: 4rem; }
  .footer__info__link {
    text-decoration: none;
    color: black;
    font-size: 1.6rem; }

.section-main__form {
  padding: 4rem 5rem; }

.form {
  padding: 1rem;
  display: flex;
  flex-direction: column; }
  .form__section {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: .5rem; }
    .form__section:not(:last-child) {
      margin-bottom: 2rem; }
  .form__label > img {
    width: 3rem;
    height: auto; }
  .form__input {
    padding: 1rem 0.5rem 1rem 1.75rem;
    font-family: inherit;
    font-size: 1.6rem;
    border: none;
    background-color: transparent; }
    .form__input:focus {
      outline: none; }
  .form__link {
    color: #777; }

.form-divider__text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(119, 119, 119, 0.9);
  gap: 2rem; }
  .form-divider__text::before, .form-divider__text::after {
    content: "";
    display: inline-block;
    width: 10rem;
    height: .2rem;
    background-color: rgba(119, 119, 119, 0.2); }

.header {
  height: 20vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 10rem;
  display: flex; }
  .header__logg {
    width: auto;
    flex: 1; }
  .header__list {
    flex: 4;
    background-color: white;
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
    font-weight: 500; }
  .header__item--log-in {
    border-bottom: 3px solid #267bbc; }
  .header__item--special {
    width: 2rem; }

#main {
  height: 200vh;
  background-image: linear-gradient(to bottom, #fff, #eee); }

.section-main {
  padding: 5rem 10rem;
  height: 80%;
  margin-bottom: -15rem; }
  .section-main > span > h2 {
    color: black;
    font-weight: 500; }
  .section-main__container {
    width: 111rem;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    display: flex; }
  .section-main__form {
    width: 45%;
    height: 100%;
    background-color: #fff; }
  .section-main__img {
    width: auto;
    height: auto;
    background-image: linear-gradient(45deg, rgba(0, 179, 202, 0.801), rgba(17, 78, 123, 0.801)), url(/img/pattern-gd17f63c16_1280.jpg);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.section-login {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-login__header {
    font-weight: 100;
    font-size: 3rem; }
  .section-login__link {
    margin: 0 auto;
    text-decoration: none;
    color: black;
    padding: 1.5rem 2.75rem;
    outline: 1px solid rgba(119, 119, 119, 0.5);
    font-size: 1.6rem;
    border-radius: 0.4rem; }
    .section-login__link:hover {
      background-color: #fff; }
