*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  family: Open Sans, Helvetica Neue, Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #777; }

.header__list {
  font-size: 1.6rem;
  color: #444;
  list-style-type: none; }

.header__item--get-started {
  color: white; }

.heading-primary {
  font-size: 6rem; }

.heading-secondary {
  font-size: 4rem; }

.heading-tertiary {
  font-size: 2rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.btn--special {
  background-color: #267bbc;
  padding: 1rem;
  border-radius: 5px;
  color: white;
  font-weight: 600; }

.header {
  height: 20vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 10rem; }
  .header__logo-box {
    background-color: white;
    width: auto; }
  .header__list {
    background-color: white;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-weight: 500; }
  .header__item--log-in {
    border-bottom: 3px solid #267bbc; }
  .header__item--special {
    width: 2rem; }

.section-main {
  padding: 5rem 10rem;
  height: 150vh;
  background: linear-gradient(to bottom, white, #00b3ca, #114e7b); }
  .section-main__container {
    width: 80%;
    height: 60%;
    background-color: #fff;
    margin: 0 auto;
    display: flex; }
  .section-main__form {
    width: 45%;
    height: 100%;
    background-color: #fff; }
  .section-main__img {
    width: 55%;
    height: 100%;
    background-image: linear-gradient(45deg, rgba(0, 179, 202, 0.801), rgba(17, 78, 123, 0.801)), url(/img/pattern-gd17f63c16_1280.jpg); }
