.btn--special {
    background-color: $color-primary;
    padding: 1rem;
    border-radius: 5px;
    color: white;
    font-size: $default-font-size;
    font-weight: 500;

    &:hover {
        cursor: pointer;
    }
}

