
.logo-box {
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;

    &__img {
        width: 15rem;
    }

    &__header {
        font-family: 'Orbitron', sans-serif, monospace;
        font-size: 2rem;
        color: $color-gray-dark;
        font-weight: 700;
    }
}