body {
    font-font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;family: Open Sans, Helvetica Neue, Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: $color-gray-dark;
}

.header {    
    &__list {
        font-size: 1.6rem;
        color: #444;
        list-style-type: none;
    }

    &__item {

        &--get-started {
            color: white;
        }
    }  
}

.heading-primary {
    font-size: 6rem;

    &--main {
        color: white;
        font-size: 3rem;
        font-weight: 600;
    }

    &--sub {
        color: white;
        font-size: $default-font-size;
    }

}

.heading-secondary {
    font-size: 4rem;
}

.heading-tertiary {
    font-size: 2rem;


}